<section class="p-3 md:p-4 lg:p-5">
	<div class="grid justify-content-center">
		<div class="col-12 md:col-10 lg:col-8">
			<p-card
				header="Prime Users Manager"
				subheader="Construire une base solide, puis accelerer."
			>
				<p class="line-height-3 m-0">
					Cette application demontre une architecture Angular 21 avec PrimeNG 21 basee sur
					MVC, DTO/Mapper, services et formulaires reactifs.
				</p>

				<div class="mt-4 flex flex-wrap gap-2">
					<a pButton routerLink="/users" label="Aller a la gestion des utilisateurs"></a>
				</div>
			</p-card>
		</div>
	</div>
</section>
