<section class="p-2 md:p-3 lg:p-4">
	<div class="grid justify-content-center">
		<div class="col-12 md:col-12 lg:col-10">
			<p-card
				header="Home"
				subheader="Page d'accueil"
			>
				<p class="line-height-3 m-0">
					Bienvenue sur la page d'accueil de l'application de démonstration de composants PrimeNg avec Angular 21.
				</p>
			</p-card>
		</div>
	</div>
</section>

<section class="p-3 md:p-4 lg:p-5">
	<div class="grid justify-content-center">
		<div class="col-12 md:col-10 lg:col-8">
			<p-card
				header="Demo : Tables > Utilisateurs"
				subheader="Construire une base solide, puis accelerer."
			>
				<p class="line-height-3 m-0">
					Cette application demontre une architecture Angular 21 avec PrimeNG 21 basee sur
					MVC, DTO/Mapper, services et formulaires reactifs.
				</p>

				<div class="mt-4 flex flex-wrap gap-2">
					<a pButton routerLink="/users" label="Aller a la gestion des utilisateurs"></a>
				</div>
			</p-card>
		</div>
	</div>
</section>
