<div class="list-wrapper">
	<div class="flex flex-wrap gap-2 justify-content-between align-items-center">
		<input
			pInputText
			type="text"
			(input)="table.filterGlobal(($any($event.target).value ?? '').trim(), 'contains')"
			placeholder="Rechercher nom, prenom"
		/>
		<button
			pButton
			type="button"
			label="Vider la liste"
			icon="pi pi-times"
			severity="danger"
			outlined="true"
			(click)="clearAll.emit()"
		></button>
	</div>

	<p-table
		#table
		[value]="users"
		[paginator]="true"
		[rows]="10"
		[rowsPerPageOptions]="[5, 10, 20, 50]"
		[showCurrentPageReport]="true"
		currentPageReportTemplate="Affichage {first} a {last} sur {totalRecords} utilisateurs"
		[globalFilterFields]="['firstName', 'lastName', 'email', 'gender']"
		sortMode="multiple"
		dataKey="id"
		responsiveLayout="scroll"
        class="w-full"
	>
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="lastName">Nom <p-sortIcon field="lastName" /></th>
				<th pSortableColumn="firstName">Prenom <p-sortIcon field="firstName" /></th>
				<th pSortableColumn="gender">Genre <p-sortIcon field="gender" /></th>
				<th>Voiture</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-user>
			<tr>
				<td>{{ user.lastName }}</td>
				<td>{{ user.firstName }}</td>
				<td>{{ user.gender }}</td>
				<td class="actions">
					<button
						pButton
						type="button"
						icon="pi pi-pencil"
						severity="secondary"
						[rounded]="true"
						[text]="true"
						title="Modifier l'utilisateur"
						aria-label="Modifier l'utilisateur"
						(click)="edit.emit(user)"
					></button>
					<button
						pButton
						type="button"
						icon="pi pi-trash"
						severity="danger"
						[rounded]="true"
						[text]="true"
						title="Supprimer l'utilisateur"
						aria-label="Supprimer l'utilisateur"
						(click)="remove.emit(user)"
					></button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
